USE [Demo]
GO
/****** Object:  Table [dbo].[SMS_MESSAGES]    Script Date: 4.6.2019. 23:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_MESSAGES](
	[MESSAGE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RECIPIENT] [nvarchar](100) NOT NULL,
	[SMS_FILENAME] [nvarchar](100) NOT NULL,
	[CELLPHONE] [nvarchar](100) NOT NULL,
	[TIME_SENT] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SMS_MESSAGES_UNQ] UNIQUE NONCLUSTERED 
(
	[RECIPIENT] ASC,
	[CELLPHONE] ASC,
	[TIME_SENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
