USE [Demo]
GO
/****** Object:  Table [dbo].[RECIPIENTS]    Script Date: 4.6.2019. 23:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPIENTS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](100) NULL,
	[CELLPHONE] [nvarchar](100) NULL,
	[DATE_INSERTED] [date] NULL,
	[DATE_UPDATED] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
